<section class="hero is-primary is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    {{> navbar}}
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        DATABASE
      </p>
      <p class="subtitle">
        Archive
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-fluid">
    <div class="table-container">
      <table class="table is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th><abbr title="Position">#</abbr></th>
            <th>Catalogue Number</th>
            <th>Sound type</th>
            <th>Title</th>
            <th>Content</th>
            <th>Date</th>
            <th>Season</th>
            <th>Time of day</th>
            <th>Type of location</th>
            <th>Location</th>
            <th>Recordist</th>
            <th>Artist</th>
            <th>Length</th>
            <th>Device/Recorder</th>
            <th align="right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>0001</td>
            <td>38</td>
            <td>23</td>
            <td>12</td>
            <td>3</td>
            <td>68</td>
            <td>36</td>
            <td>+32</td>
            <td>81</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right">
              <div class="buttons is-right">
                <button class="button is-warning is-small">
                  <span class="icon">
                    <i class="fas fa-edit"></i>
                  </span>
                </button>

                <button class="button is-danger is-small">
                  <span class="icon">
                    <i class="fas fa-times"></i>
                  </span>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th>2</th>
            <td>0002</td>
            <td>38</td>
            <td>19</td>
            <td>9</td>
            <td>10</td>
            <td>71</td>
            <td>41</td>
            <td>+30</td>
            <td>66</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right">
              <div class="buttons is-right">
                <button class="button is-warning is-small">
                  <span class="icon">
                    <i class="fas fa-edit"></i>
                  </span>
                </button>

                <button class="button is-danger is-small">
                  <span class="icon">
                    <i class="fas fa-times"></i>
                  </span>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th>3</th>
            <td>0003</td>
            <td>38</td>
            <td>19</td>
            <td>9</td>
            <td>10</td>
            <td>71</td>
            <td>41</td>
            <td>+30</td>
            <td>66</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right">
              <div class="buttons is-right">
                <button class="button is-warning is-small">
                  <span class="icon">
                    <i class="fas fa-edit"></i>
                  </span>
                </button>

                <button class="button is-danger is-small">
                  <span class="icon">
                    <i class="fas fa-times"></i>
                  </span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
          <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
          <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
          <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>