<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/dashboard">
        <h2 class="title is-2">The Everyday</h2>
      </a>
      <span class="navbar-burger" data-target="navbarMenuHeroA">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div id="navbarMenuHeroA" class="navbar-menu">
      <div class="navbar-end">
        <span class="navbar-item">
          <a
            class="button is-primary is-light is-focused"
            href="/archives/create"
          >
            <span>Add Archive</span>
            <span class="icon is-small">
              <i class="fas fa-plus"></i>
            </span>
          </a>
        </span>

        <span class="navbar-item">
          <button class="button is-danger is-outlined">
            <span class="icon is-small">
              <i class="fas fa-sign-out-alt"></i>
            </span>
          </button>
        </span>
      </div>
    </div>
  </div>
</nav>