<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/dashboard">
        <h2 class="title is-2">The Everyday</h2>
      </a>
      <span class="navbar-burger" data-target="navbarMenuHeroA">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div id="navbarMenuHeroA" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item is-active" href="/dashboard">
          Dashboard
        </a>

        <a class="navbar-item" href="/record/create">
          Add Record
        </a>

        <span class="navbar-item">
          <form action="/logout" method="get">
            <button class="button is-light">
              <span>Sign Out</span>
              <span class="icon is-small">
                <i class="fas fa-sign-out-alt"></i>
              </span>
            </button>
          </form>
        </span>
      </div>
    </div>
  </div>
</nav>